<h1>Listing rectangles</h1>

<table>
  <thead>
    <tr>
      <th>Gonogo</th>
      <th>State</th>
      <th>Is clicked</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rectangles.each do |rectangle| %>
      <tr>
        <td><%= rectangle.gonogo_id %></td>
        <td><%= rectangle.state %></td>
        <td><%= rectangle.is_clicked %></td>
        <td><%= rectangle.display_time %></td>
        <td><%= rectangle.response_time %></td>
        <td><%= rectangle.reaction_time %></td>
        <td><%= link_to 'Show', rectangle %></td>
        <td><%= link_to 'Edit', edit_rectangle_path(rectangle) %></td>
        <td><%= link_to 'Destroy', rectangle, method: :delete, data: { confirm: 'آیا اطمینان دارید؟' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rectangle', new_rectangle_path %>
