<%= render "layouts/navbar"%> 
<div class="wrap">
<h1>اطلاعات شخصی</h1>
<hr><br>
<p id="notice"><%= notice %></p>


<p>
  <strong>نام:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>نام‌ خانوادگی:</strong>
  <%= @profile.last_name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</div>