<head>
    <title>تست استروپ</title>
    <meta name="Author" content="Edward Z. Yang" />
    <meta charset="UTF-8">
    <meta name="keywords" content="Stroop Effect, test, interactive, JavaScript" />
    <meta http-equiv="Content-Script-Type" content="javascript" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <style type="text/css" style="display: none">
    .main-div{background: none; background-color: #fff;}
    </style>
    <%= stylesheet_link_tag "stroops", media: "screen"%>
     <script type="text/javascript">
            
        $(document).ready(function() {  

            document.getElementById("hidden-form").style.display = "none";
            ini();
        });
        </script>

    <!-- <link href="screen.css" media="screen" rel="stylesheet" type="text/css" /> -->
    <%= javascript_include_tag "classes"%>
    <%= javascript_include_tag "painter"%>
    <%= javascript_include_tag "script"%>
</head>
    
    <div id="clientbox">
        <h1>تست استروپ</h1>
        
        <div id="infoswitch">
            <ul>
                <li id="linkToResults"><a href="#results" onclick="displayScreen('results');return false;
                ">View Results</a> or you can <a href="./">Retry</a></li>
            </ul>
        </div>
    </div>
    
    <div id="screenExperiment">
        <div><input type="text" readonly="readonly" id="displayOfColoredWord" /></div>
        <div><input type="text" readonly="readonly" id="displayOfMessage" /></div>
        <div id="start_btn" class="stroop-btn"> <button type="button"  onclick="eventInput('start')" >شروع</button> </div>
        <div id="red_btn" class="stroop-btn"> <button type="button"  onclick="eventInput('r')" >قرمز</button> </div>
        <div id="green_btn" class="stroop-btn"> <button type="button"  onclick="eventInput('g')" >سبز</button> </div>
        <div id="yellow_btn" class="stroop-btn"> <button type="button"  onclick="eventInput('y')" >زرد</button> </div>
        <div id="blue_btn" class="stroop-btn"> <button type="button"  onclick="eventInput('b')" >آبی</button> </div>
        <br><br><br><br>
        <div id="cancel_btn" class="stroop-btn"> <button type="button"  onclick="eventInput('x')" >انصراف</button> </div>
    </div>
    
    <div id="screenResults" class="screenText">
        <h2>Results</h2>
        <div id="screenResults_div"><textarea id="textareaResults" rows="20" cols="70" readonly="readonly">You have not finished the experiment yet!
Come back when you've done all the colors, and your results will be here.</textarea></div>
    </div>

    <div class= "middle_return_btn">
    <%= link_to 'بازگشت', @stroop.task %>
    </div>



    <div id="hidden-form">
        <%= render 'edit_form' %>
    </div>
</html>