<%= render "layouts/navbar"%> 
<div id = "about_us" >
<h3>درباره‌ی ما :</h3>
<p style="font-size:1.4em ;" >بسته‌ی ارزیابی شناختی تحت شبکه (وی‌کاپ) با همکاری مرکز ملی مطالعات اعتیاد و گروه هوش ماشین و رباتیک دانشگاه تهران تدوین گردیده‌است.
</p>
<p style="font-size:1.4em ;">این بسته حاصل همکاری گروه هوش ماشین و رباتیک دانشگاه تهران به مدیریت جناب آقای دکتر مرادی، و مرکز ملی مطالعات اعتیاد به مدیریت جناب آقای دکتر حامد اختیاری است و توسط آقای علی مهدویان و خانم مریم یونسی توسعه یافته است.</p>
<!--<% 25.times.each do |step| %>
$("#<%= "#{step+1}"%>").hide();


  $(".<%= "#{step+1}"%>.true_button").on("click", function(){<br>
  $("#<%= "#{step+1}"%>").hide();<br>
  document.getElementById("ddtanswer_q<%= "#{step+1}"%>").value = 1;<br>
  $("#<%= "#{step+2}"%>").show(); //alert(step);<br>
  });
<br><br>

  $(".<%= "#{step+1}"%>.false_button").on("click", function(){<br>
  $("#<%= "#{step+1}"%>").hide();<br>
  document.getElementById("ddtanswer_q<%= "#{step+1}"%>").value = 2;<br>
  $("#<%= "#{step+2}"%>").show(); //alert(step);<br>
  });
<br><br>
<%end%>
-->

</div>
<center>
<%=image_tag "66.jpg", {:class => "img"}%>
</center>
<div id="test_desc">
  <h3>توضیحات آزمون‌ها :</h3>
<ul style="font-size:1.4em ;" >
<li> Delay Discounting Test : description . . .  </li>
<li> Balloon Analogue Risk Task : description . . .  </li>
<li> Cued Go No Go : description . . . </li>
</ul>
</div>

