

    <head>
        <title>BART Task</title>
        <meta charset="utf-8" />


        <%= javascript_include_tag "application" %>
        <%= stylesheet_link_tag "application" %>
        <!-- these files are required for the BART to work    -->
        <%= javascript_include_tag "jquery-1.9.1.min.js" %><!-- basic javascript library for dom manipulation -->
        <%= javascript_include_tag "jquery.jcanvas.min.js" %><!-- the canvas plugin -->
        <%= javascript_include_tag "jquery.bart.js" %> <!-- the main BART plugin -->

        <%= stylesheet_link_tag "jquery.bart.css" %> <!-- additional styles for to make the BART look fancy -->

        <script type="text/javascript">
            $(document).ready(function() {   
            //load BART
            var s = {//txt_cashin: 'PUNKTE SAMMELN',
                     //txt_inflate: 'BALLON AUFBLASEN',
                     //txt_next: 'Nächster Ballon',
                     //txt_balloon_number: 'Ballon:',
                     //txt_current_earned: 'Punkte für Ballon:',
                     //txt_total_earned: 'Punkte insgesamt:',
                     //txt_prob_explosion: "Wahrscheinlichkeit,\n\n dass Ballon platzt:",
                     showpumpcount: true,
                     showpopprob: false,
                     ballon: {popprob: 60}};
            var b = [ {b:30, o: { color: 'blue', earnings: 50}}, 
                      {b:0, o: { color: 'green', earnings:1}},
                      {b:0, o: { color: 'red', earnings: 1}} ];
                $("#bart").bart( {s:s, b:b} );
        });
        </script>
    
    </head>
    <body>
<div class="wrap">
       <!-- <h1 style="text-align:center;">Online Ballon Analogue Risk Task (oBART)</h1>                 -->
        <!-- load AMP here -->
        <div id="bart" style="margin: auto; text-align: center; height:100%">
        </div>
        <%= render :partial => '/balloons/make_balloon' , :locals =>{:bart => @bart}  %>
        <div id="exit">
<br><br>
<%=image_tag "Thanks.PNG", {:class => "thanks_image"}%>
<br><br>
        <%= button_to "بازگشت به آزمون کنونی", $current_task, :class => "button", :id=>"finish", :method => :get%>
        </div>
        </div>
</body>

</html>




