
<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!--<style>
body{
    background-image: url('addiction.jpg') !important;
</style>
}-->
  
<div class="wrap">
<%= form_for(@ddtanswer) do |f| %>
  <% if @ddtanswer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ddtanswer.errors.count, "error") %> prohibited this ddtanswer from being saved:</h2>

      <ul>
      <% @ddtanswer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <% 25.times.each do |step| %>
  <%s = "#{step+1}"%>
  <div id = "<%="#{step+1}"%>">

    <%q = Ddtquestion.find_by_id(step+1)%>
    <!--Would you rather have-->
    <br><br><br><br><br><br>
    <h1 id = "question">کدام‌یک را ترجیح می‌دهید؟</h1>
    <br><br><br><br><br><br>
    <%if q.question_type==1%>
      <div>
          <input type="button"  class= "<%="#{step+1}"%> true_button"  value="<%="#{q.value1}"%> همین الان">
          <input type="button"  class= "<%="#{step+1}"%> false_button" value="<%="#{q.value2}"%> در <%="#{q.value3}"%>"> 
        <div  class="field answer_field" id="Q<%="#{step+1}"%> ans">
          <%= f.number_field "q#{step+1}".to_sym %>
        </div>
      </div>
    <%end%>

    <%if q.question_type==2%>
      <div>
          <input type="button"  class= "<%="#{step+1}"%> true_button"  value="<%="#{q.value1}"%> قطعی">
          <input type="button"  class= "<%="#{step+1}"%> false_button" value="<%="#{q.value2}"%> با <%="#{q.value3}"%> شانس">
        <div  class="field answer_field" id="q#{step+1}">
          <%= f.number_field "q#{step+1}".to_sym %>
        </div>
      </div>
    <%end%>

  </div>
<%end%>

 <!-- <div class="actions" id = "4">
    <%= f.submit%>
  </div>-->
    <%=image_tag "Thanks.PNG", {:class => "thanks_image_ddt"}%>
  <input type="submit" value="بازگشت به آزمون کنونی" name="commit" id="submit_ddt">
      </input>
  <%end%>
  </div>