<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @ddtanswer.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @ddtanswer.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @ddtanswer.q3 %>
</p>

<%= link_to 'Edit', edit_ddtanswer_path(@ddtanswer) %> |
<%= link_to 'Back', ddtanswers_path %>
